.category-card {
  height: 150px;
  margin-bottom: 20px;

  &__body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    font-weight: 600;
    color: #000;
    text-decoration: none;

    &:hover {
      color: #000;
    }
  }
}